{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "jest": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "brace-style": [1, "stroustrup"],
    "comma-dangle": ["error", "only-multiline"],
    "radix": 0,
    "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ]
  }
}
